/* Font sizes */
$title_xl_size: 1rem;
$title_l_size: 0.8rem;
$title_m_size: 0.5rem;
$title_s_size: 0.3rem;

/* Paragraphs */
$para_xl_size: 1rem;
$para_l_size: 0.8rem;
$para_m_size: 0.5rem;
$para_s_size: 0.3rem;

/* colors */
$primary_color: #00498D;
$secondary_color: #FDEAEB;
$teritary_color: #5E5873;
$fourth_color: #E1E1E1;
$main_title: #034D91;


/* BG color*/
$primary_bg_color: #00498D;
$secondary_bg_color: #F4F4F4;
$teritary_bg_color: #FFFFFF;
$light_blue: #d6eaff;

/* Font sizes */
$font_size_xl: 1.25rem; // 20px
$font_size_l: 1.125rem; // 18px
$font_size_m: 1rem; // 16px
$font_size_s: 0.9375rem; // 15px
$font_size_xs: 0.75rem; // 12px

/* Font weights */
$font-weight-bold: 700;
$font-weight-semibold: 600;
$font-weight-medium: 500;
$font-weight-semimedium: 400;